:root {
  --temperature-color: #ff0073;
}
body {
  font-family: "Playfair Display", serif;
  margin: 130px auto;
  padding: 15px;
  max-width: 850px;
  background: #dcb5ff;
}
.container {
  border: solid 1mm #c684d6;
  background: rgb(245, 243, 243);
  box-shadow: rgba(158, 156, 156, 0.2) 0px 2px 2px 0px;
  border-radius: 10px;
}
h1 {
  position: relative;
  top: 0px;
  left: 5px;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 15px;
  color: #2e1133;
}
.search-area {
  margin-left: 5px;
}
button,
.search-button {
  border: 1.5px solid black;
}
.search-button:hover,
button:hover {
  background: rgb(217, 167, 236);
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
h4,
.forecast,
.day {
  font-family: "Roboto Slab", serif;
}
h4 {
  padding: 20px 0 0 5px;
  font-size: 23px;
  margin-left: 20px;
}
.forecast {
  border-radius: 10px;
  border: solid 1mm #dabbe2;
  padding: 20px;
  margin: 5px;
}
.info,
.description,
.min-temp {
  opacity: 0.7;
}
.Weather.day {
  border: solid 1mm #dabbe2;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-left: 7px;
}
img {
  width: 40px;
  position: relative;
  left: 20px;
}
.Weather.main-temperature {
  font-size: 40px;
  color: var(--temperature-color);
}

.Weather.main-image {
  width: 60px;
  margin: 10px;
}

.Weather.unit {
  position: relative;
  font-size: 20px;
  top: -14px;
}
.Weather.temperatura {
  margin-left: 5px;
  color: var(--temperature-color);
}
.Weather.description {
  text-transform: capitalize;
}
.Weather.sourse {
  padding-left: 20px;
}
.Weather.box {
  margin-bottom: 5px;
}
.Weather.sourse-link {
  text-decoration: none;
  color: #6054e5;
}
.Weather.max-temp {
  font-weight: bold;
}
.Weather.min-temp {
  margin-left: 7px;
}
.Weather.forecast-image {
  display: block;
  margin: 0 auto;
  margin-top: 18px;
}
